// --- Define Global Styles ---

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: $base-font;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}